<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<jsp-config>
		<jsp-property-group>
			<description>Special property group for JSP Configuration JSP example.</description>
			<display-name>bill</display-name>
			<url-pattern>/jsp/* </url-pattern>
			<el-ignored>true</el-ignored>
			<page-encoding>utf-8</page-encoding>
			<scripting-invalid>true</scripting-invalid>
			<include-prelude>/include/prelude.jspf</include-prelude>
			<include-coda>/include/coda.jspf</include-coda>
		</jsp-property-group>
	</jsp-config>
	
	<servlet>
		<servlet-name>Auto</servlet-name>
		<servlet-class>bill.init.BillConfig</servlet-class>
		<init-param>
			<param-name>jdbc.url</param-name>
			<param-value>jdbc:mysql://127.0.0.1:3306/jbill?characterEncoding=UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>jdbc.userName</param-name>
			<param-value>root</param-value>
		</init-param>
		<init-param>
			<param-name>jdbc.password</param-name>
			<param-value>root3306</param-value>
		</init-param>
		<load-on-startup>10</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Auto</servlet-name>
		<url-pattern>/Auto</url-pattern>
	</servlet-mapping>
</web-app>